# Default values for ita-migration.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
global:
  itaGlobalDefinition:
    name: ita-global
    enabled: true
    image:
      registry: "docker.io"
      organization: exastro
      package: exastro-it-automation
    config:
      DEFAULT_LANGUAGE: "ja"
      LANGUAGE: "en"
      CONTAINER_BASE: "kubernetes"
      TZ: "Asia/Tokyo"
      STORAGEPATH: "/storage/"
    secret:
      ENCRYPT_KEY: ""
    persistence:
      enabled: true
      reinstall: false
      accessMode: ReadWriteMany
      size: 10Gi
      volumeType: hostPath # e.g.) hostPath or AKS
      storageClass: "-" # e.g.) azurefile or - (None)
      # matchLabels:
      #   release: "stable"
      # matchExpressions:
      #   - {key: environment, operator: In, values: [dev]}
  gitlabDefinition:
    name: gitlab
    enabled: true
    config:
      GITLAB_PROTOCOL: "http"
      GITLAB_HOST: "gitlab.exastro-platform.svc"
      GITLAB_PORT: "80"
    secret:
      GITLAB_ROOT_TOKEN: ""
  itaDatabaseDefinition:
    name: ita-database
    enabled: true
    config:
      DB_VENDOR: "mariadb"
      DB_HOST: "mariadb.exastro-platform.svc"
      DB_PORT: "3306"
      DB_DATABASE: "ITA_DB"
    secret:
      DB_ADMIN_USER: ""
      DB_ADMIN_PASSWORD: ""
      DB_USER: ""
      DB_PASSWORD: ""

extraEnv:
  PLATFORM_API_HOST: "platform-api.exastro-platform.svc"
  PLATFORM_API_PORT: "8000"
  SYSTEM_ANSIBLE_EXECUTION_LIMIT: "25"
  SYSTEM_ANSIBLE_EXECUTION_LIMIT_DESCRIPTION: "Maximum number of movement executions for whole of IT automation"
  ORG_ANSIBLE_EXECUTION_LIMIT_DEFAULT: "25"
  ORG_ANSIBLE_EXECUTION_LIMIT_MAX: "1000"
  ORG_ANSIBLE_EXECUTION_LIMIT_DESCRIPTION: "Maximum number of movement executions for organization default"

completionCount: 1

initContainerImage:
  repository: registry.access.redhat.com/ubi8/ubi-init
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

image:
  repository: ""
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: false
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext: {}
  # fsGroup: 2000

volumeMounts:
  mountPath:
    conf:
      path: /etc/mysql/conf.d
    storage: /storage
    tmp: /tmp

securityContext:
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  runAsUser: 1000
  runAsGroup: 1000
  runAsNonRoot: true

database:
  initContainerImage:
    repository: mariadb
    tag: "10.9"
    pullPolicy: IfNotPresent

  image:
    repository: mariadb
    tag: "10.9"
    pullPolicy: IfNotPresent

  imagePullSecrets: []
  nameOverride: ""
  fullnameOverride: ""

  livenessCheck: |-
    #!/bin/bash
    i=1
    echo "HOST: ${DB_HOST}"
    until mysqladmin ping --host=${DB_HOST} --user=${DB_ADMIN_USER} --password=${DB_ADMIN_PASSWORD} --silent; do
      echo `date`": Can not connect to Database."
      sleep $i
      i=$(( i * 2 ))
    done
    echo `date`": Completely connect to Database."
    exit 0

  databaseConfig:
    name: mysqld-conf
    customCnf: |-
      [mysqld]
      character-set-server=utf8mb4
      collation-server=utf8mb4_bin
      secure_file_priv=/tmp
      [client]
      default-character-set=utf8mb4

  securityContext:
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    runAsUser: 1000
    runAsGroup: 1000
    runAsNonRoot: true

command:
  migrationMain: |-
    python3 /exastro/migration_main.py

platform:
  livenessCheck: |-
    #!/bin/bash
    i=1
    echo "PLATFORM_API_HOST: ${PLATFORM_API_HOST}"
    echo "PLATFORM_API_PORT: ${PLATFORM_API_PORT}"
    until curl -sv http://${PLATFORM_API_HOST}:${PLATFORM_API_PORT}/internal-api/platform/settings/common -X GET -H 'User-Id: ""'; do
      echo `date`": Can not connect to Platform."
      sleep $i
      i=$(( i * 2 ))
    done
    echo `date`": Completely connect to Platform."
    exit 0
